@charset 'utf-8';

// Sass Libraries /
@import "../node_modules/sass-mediaqueries/media-queries"; 
@import "../node_modules/font-awesome/css/font-awesome"; 
/* @import '../node_modules/liferay-font-awesome/css/font-awesome'; */



// Configuration
@import 'base/variables';
@import 'base/reset';
@import 'base/classes';
@import 'base/mixins';
@import 'base/fonts';

/* Components */
@import 'components/helpers';
@import 'components/buttons'; 
@import 'components/radiobox'; 
@import 'components/formulario'; 

// Sections
@import 'sections/header';
@import 'sections/footer'; 

//Pages
@import 'pages/home';
@import 'pages/login';
@import 'pages/recupera-contrasena';
@import 'pages/restablecer-contrasena';
@import 'pages/solicitar-boleta';
@import 'pages/registro-usuario';
@import 'pages/cuenta-personas';
@import 'pages/datos-personales';
@import 'pages/login-portal';


/* .page {
   background-image: url(../images/login-portal-cliente.jpg);
    background-position: 0 center;
    background-position: center 72px;
    background-repeat: no-repeat;
    .main, .content-page-tab {
        background-color: transparent;
    }
}
 */
