.header-top {
    color: white;
    background-color: $blue;
    padding: 5px 0;
    font-size: 14px;
    display: none;
    @include min-screen($tl){
        display: block;
    }
   
    a {
        color: white;
        &.link-contacto {
            margin-right: 14px;
        }
    }
    .header-top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.box-contactenos {
    display: flex;
}

.box-clima {
    display: flex;
    align-items: center;
    .dato-clima {
        margin-right: 28px;
        position: relative;
        z-index: 101;
        .item-cloud {
            margin-right: 12px;
            position: relative;
            top: 2px;
            &:hover {
                text-decoration: none;
            }
        }
        .texto-clima {
            cursor: pointer;
        }
    }
}

.link-accesos {
    margin-left: 18px;
    a {
     margin-right: 12px;
    }
 }
 

.mostrar-clima-detalle {
    width: 350px;
    height: 196px;
    background: #E7F0FF;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    position: absolute;
    top:32px;
    left: 0;
    /* background-image: url(../images/tiempo.png);
    background-repeat: no-repeat;
    background-position: top center; */
    padding: 20px 28px 20px 20px;
    display: none;
    &.active {
        display: block;
    }
    .box-texto-clima {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .numero-grados {
            color: $blue;
            font-weight: 300;
            font-size: 43px;
            line-height: 23px;
        }
    }
    .box-info-clima {
        .lista-clima {
            list-style: none;
            li {
                color: $blue-dark;
                font-size: 11px;
                line-height: 17px;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.box-enlace-clima {
    border-top: 1px solid #8FB9FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    p {
        color: $blue;
        font-weight: bold;
        font-size: 11px;
        line-height: 17px;
        width: 200px;
    }
}

.item-normalidad {
    margin: 0 16px;
}

.event-clima {
    a {
        margin-left: 2px;
        position: relative;
        top: 2px;
        &:hover {
            text-decoration: none;
        }
    }
}


.logo-brand {
    img {
        max-width: 127px;
        margin-right: 39px;
    }
}


/* NAV */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 25px 0;
    position: relative;
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @include min-screen($tl){
      flex-direction: row;
      align-items: center;
      width: auto;
    }
}

.header-right {
    display: none;
    @include min-screen($tl){
        display: flex;
    }
}


.box-search {
    margin-right: 22px;
}

.mostrar-busqueda {
    width: 1110px;
    height: 121px;
    position: absolute;
    top:102px;
    left: 0;
    z-index: 101;
    display: none;
    /* opacity:0;
    transition:opacity .4s ease-in; */
    background-color: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 18px 38px;
    &.active {
        display: block;
        /* opacity:1; */
    }
    .input-busqueda {
        padding: 0.6rem 0.75rem;
    }
}

.title-busqueda {
    color: $blue-dark;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
}

/* Nav Menu */
.nav-menu {
    display: none;
    width: 100%;
    @include min-screen($tl){
        display: block;
    }
    &.active {
        display: block;
    }
}


.arrow-top {
    background-image: url(../images/arrow-top.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 12px;
    display: block;
}
.lista-nav {
    display: flex;
    flex-direction: column;
    margin:0;
    @include min-screen($tl){
        height: 108px;
        flex-direction: row;
    }
    > li {
        list-style: none;
        //margin-right: 43px;
        align-items: center;
        display: flex;
        height: 100%;
        position: relative;
        @include min-screen($tl){
            position: static;
        }
        > a {
            color: $blue;
            font-size: 16px;
            font-weight: 700;
            padding-right: 1.4rem;
            padding-top: 0.5rem;
            padding-left: 1.4rem;
            padding-bottom: 0.5rem;
            @include min-screen($tl){
                color: $black-light;
                font-size: 14px;
                padding-bottom: 0;
            }
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            background-color: #E7F0FF;
            > .child-menu {
                @include min-screen($tl){
                    display: block;
                }
            }
        }
    }

    .child-menu {
        // display: block;
        display: none;
        font-size: 14px;
        color: $black-light;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
        color: white;
        z-index: 20;
        top:40px;
        @include min-screen($tl){
            min-height: 340px;
            border: 1px solid #F3F4F5;
            box-shadow: 0px 3px 7px rgb(0 0 0 / 9%);
            border-radius: 8px;
            padding-top: 25px;
            padding-bottom: 25px;
            top:108px;
        }

    }
    .active-submenu  {
        .child-menu {
            display: block;
        }
    }
}

.menu-columns {
    color: gray;
    list-style: none;
    padding: 14px 10px;
    font-size: 14px;
    @include min-screen($tl){
        padding: 20px 25px;
    }
    > .col {
        flex-basis: content;
        margin-bottom: 15px;
        @include min-screen($tl){
            flex-basis: 0;
            margin-bottom: 0;
        }
    }
    .first-cold {
        max-width: 25%;
        min-width: 225px;
        display: none;
        @include min-screen($tl){
            display: block;
        }
        .submenu-terciario {
            max-width: 250px;
            padding: 0 30px 0 0;
            li {
                &:first-child {
                    // width: 100px;
                    width: 102px;
                    color :$blue;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 30px;
                    margin-bottom: 14px;
                    &.title-large {
                        width: 170px;
                    }
                }
                &:last-child {
                    margin-top: 15px;
                }
            }
        }
    }
 }

.submenu-terciario {
    list-style: none;
    > li {
        margin-bottom: 20px;
        @include min-screen($tl){
            margin-bottom: 42px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        > a {
            color: gray;
            font-weight: bold;
            margin-bottom: 7px;
            display: block;
        }
    }
}
.submenu-cuarto {
    list-style: none;
    > li {
        margin-bottom: 9px;
        > a {
            color: gray;
        }
    }
    &.menu-links {
        a {
            display: flex;
            justify-content: space-between;
            text-decoration: underline;
        }
    }
}


/* banner */
.banner-info {
    padding: 12px 0 0 0;
  h1 {
    color: $blue;
    font-size: 25px;    
    font-family: $fontRaleway;
    font-weight: 900;
    @include min-screen($tl){
        font-size: 50px;   
    }
  }
  p {
      color: $black-light;
  }
  .cta-banner {
    margin-top: 25px;
  }   
}


/* Menu Nav Mobil */

.down-submenu-mobile {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 25px;
    text-align: center;
    line-height: 48px;
    @include min-screen($tl){
        display: none;
    }
  }

.c-hamburger {
    display: block;
    position: absolute;
    //right: 10px;
    right: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: 0;
    cursor: pointer;
    transition: background 0.2s;
    @include min-screen($tl){
        display: none;
    }
  }
  .c-hamburger:focus {
    outline: 0;
  }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 20.625px;
    left: 8.4375px;
    right: 8.4375px;
    height: 3.6px;
    background: $blue-dark;
  }
  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3.6px;
    background-color: $blue-dark;
    content: "";
  }
  .c-hamburger span::before {
    top: -9.375px;
  }
  .c-hamburger span::after {
    bottom: -9.375px;
  }
  .c-hamburger--htx {
    background-color: transparent;
  }
  .c-hamburger--htx:hover {
    background-color: transparent;
  }
  .c-hamburger--htx span {
    transition: background 0 0.2s;
  }
  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0.2s, 0s;
  }
  .c-hamburger--htx span::before {
    transition-property: top, transform;
  }
  .c-hamburger--htx span::after {
    transition-property: bottom, transform;
  }
  .c-hamburger--htx.is-active {
    background-color: transparent;
  }
  .c-hamburger--htx.is-active:hover {
    background-color: transparent;
  }
  .c-hamburger--htx.is-active span {
    background: 0;
  }
  .c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    transition-delay: 0, 0.2s;
  }