// Sass Libraries /
@import "../../node_modules/sass-mediaqueries/media-queries"; 
@import "../../node_modules/font-awesome/css/font-awesome"; 

// Configuration
@import 'base/variables';
@import 'base/reset';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/text';

/* Components */
@import 'components/buttons'; 

// Sections
@import 'sections/header';

body {
    background-position: top center;
    background-repeat: no-repeat;
}
.page-recupera-contrasena {
   /*  background-image: url(../images/m-recuperar-contraseña-1.jpg); */
   /*  background-image: url(../images/m-menu-principal.jpg); */
   /*  background-image: url(../images/m-recuperar-contraseña-2.jpg); */
   /*  background-image: url(../images/m-recuperar-contraseña-3.jpg); */
   /*  background-position: center 46px; */
}
/* .page-registro-usuario {
    background-image: url(../images/m-registro-mobile.jpg);
} */

/* .wrapper {
    max-width: 375px;
    margin: 0 auto;
    height: 800px;
    border:1px solid lightgray;
} */

.page-login  {
    .logo-brand {
        margin-top: 45px;
        text-align: center;
    }
    .section-login {
        margin-top: 32px;
    }
}

.content-page {
    padding: 10px 20px;
}

.form-group {
    /* margin-bottom: 1.8rem; */
    margin-bottom: 2rem;
}

.form-control {
    padding: 0.8rem 1rem;
    line-height: 1.5;
    border-radius: 8px;
    height: 60px;
    border-color: $gray-dark;
    font-size: 16px;
    color: $black-light;
}


.link {
    display: block;
    text-align: center;
}

.box-redes {
    margin-top: 40px;
}

.box-redes-login  {
    display: flex;
    align-items: center;
    margin-top: 19px;
    a {
        margin-right: 35px;
    }
}

.btn-redes {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    i {
        font-size: 20px;
    }
}


.btn-facebook {
    background-color: #2F80ED;
    border: 1px solid #2274FF;
}

.btn-google {
    background-color: #DD5D5D;
    border: 1px solid #DD5D5D;
}
.btn-twitter{
    background-color: #71CCFF;
    border: 1px solid #71CCFF;
}

.box-cuenta {
    margin-top: 22px;
    p {
        color:#5F6268;
        text-align: center;
    }
}
.link-registro {
    text-decoration: underline;
}

/* Page  Recupera tu clave -- 1*/

.content-page-clave {
    padding: 15px 0;
}

.formulario-login p {
    margin-bottom: 24px;
}

.box-recapcha {
    margin-top: 45px;
}

.texto-capcha {
    text-align: center;
    color: #5F6268;
    margin-bottom: 14px;
}
.box-captcha {
    transform:scale(0.8);
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}
.box-btn {
    padding: 0 20px;
}
.box-volver {
    margin-top: 53px;
}
.link-bold {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    display: block;
}


/* Page  Recupera tu clave -- 2 - Page Correo*/

.box-icono-correo {
    text-align: center;
}


.box-top-correo {
    border-bottom: 1px dashed #979797;
    padding-top: 10px;
    padding-bottom: 15px;
    p {
        color: $black-light;
        font-size: 15px;
        line-height: 25px;
        span {
            color: $green;
        }
    }
}

.box-texto-correo {
    border-bottom: 1px dashed #979797;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
        color: $gray-dark;
        font-size: 14px;
        line-height: 25px;
        font-style: italic;
    }
}


.title-correo {
    color:$black-light;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px
}

.lista-realizar {
    margin-top: 24px;
    margin-bottom: 8px;
    li {
        list-style: none;
        display: flex;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        i {
            color:$gray-dark;
            border: 2px solid $gray-dark;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            display: block;
            margin-right: 46px;
            text-align: center;
        }
        span {
            color:$blue-dark;
            font-size: 14px;
            line-height: 22px;  
        }
        .box-circle {
            width: 64px; 
        }
    }
}

.box-btn-correo {
    margin-top: 30px;
}

/* Page  Recupera tu clave -- 3*/

 .form-eye {
    label {
        color: $black-light;
        font-size: 16px;
        line-height: 25px;
    }
    .form-control {
        border-right: 0;
        font-size: 16px;
        color: $black-light;
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: rgba(0, 0, 0, 0.15);
        }
    }
    .input-group-addon {
        padding: 0.5rem 1rem;
        border: 1px solid rgba(0,0,0,.15);
        border-left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-eye {
        color:$blue;
    }
}


.box-top-restablecer {
    padding-top: 10px;
    padding-bottom: 15px;
    p {
        color: $black-light;
        font-size: 15px;
        line-height: 25px;
        font-weight: bold;
        span {
            color: $green;
        }
    }
}


/* Page  Recupera tu clave -- 5*/
.content-page-correo-exito {
    padding: 105px 0;
}
.box-icono-check {
    text-align: center;
    margin-top: 18px;
}

.texto-exitoso {
    margin-top: 20px;
    padding: 0 1rem;
    p {
        color: $blue-dark;
        font-size: 21px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
}


.breadcrumb {
    background-color: transparent;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.2rem;
    li {
        color: $blue;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        font-weight: 600;
        &.active {
            color: $blue;
            &:before {
                color: $blue;
            }
        }
    }
}

.step {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 1rem;
    .step-item {
        flex: 1 1 0;  
       /*  flex-grow: 1; */
        position: relative;
        text-align: center;
        &:not(:first-child)::before {
            background-color: #D9D9D6;
            content: "";
            height: 0.125rem;
            left: -50%;
            position: absolute;
            top: 0.7375rem;
            width: 100%;
            z-index: 0;
        } 
        &:nth-child(2)::before {
            width: 65%;
            left: -32%;
        } 
        &:nth-child(3)::before {
            width: 65%;
            left: -32%;
        } 
        &.active {
           a {
               &::before {
                background: #fff;
                border: 3px solid $blue;
               }
               span {
                   color:$blue;
               }
           }
           p {
               color:$blue;
           }
        }

        p {
            color: $black-light;
            font-size: 14px;
            margin-top: 12px;
        }

        .step-item-link {
            color: #69707a;
            position: relative;
            display: inline-block;
            padding-top: 1.25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-decoration: none;
            z-index: 1;
            span {
                color:white;
                position: absolute;
                top: 4px;
                z-index: 11;
                left: 11px;
                display: flex;
                font-weight: bold;
            }
            &:before {
                background-color: $gray;
                border: 0.125rem solid #fff;
                border-radius: 100%;
                content: "";
                display: block;
                height: 2rem;
                width: 2rem;
                left: 50%;
                position: absolute;
                top: 0;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
      }
 }

 
.dual-btn {
    margin-top: 25px;
    flex-direction: column;
    a {
        margin-bottom: 20px;
    }
}

.content-page-form {
    padding: 17px 20px;
}

.layout-formulario {
    margin-top: 26px;
}

.form-group-all {
    margin-top: 26px;
}

.row-texto-form {
    margin-top: 60px;
    p {
        color: $black-light;
        font-size: 14px;
    }
}