//$font: sans-serif;
$font: 'Inter', sans-serif;
$fontRaleway: 'Raleway', sans-serif;
$font-size: 16px;

html {
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
  scroll-behavior: smooth;
}


*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body { 
  overflow-x: hidden; 
  font-family: $font;
}

a {
  color: $blue;
}

.px-20 {
  padding: 0 20px;
}

.px-30 {
  padding: 0 30px;
}

.link {
  display: block;
  text-align: center;

}
.link-subrayado {
  color:$blue-dark;
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
}

.link-home {
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
}

.link-registro {
  text-decoration: underline;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
  border:1px solid lightgray;
}

.text-green {
  color:$green;
}