.main-title,
.second-title,
.third-title,
.fourth-title,
.fifth-title,
.big-title {
	color: $blue-dark;
    font-weight: bold;
}

.second-title {
    font-size: 14px; 
}

.main-title {
    font-size: 16px;
    font-weight: bold;
}

.big-title {
    font-size: 18px;
    text-align: center;
}

/* class size text */

.text-xs {
    font-size: 0.75rem; //12px
}

.text-sm {
    font-size: 0.875rem; //14px
}

.text-base {
    font-size: 1rem; //16px
}

.text-lg {
    font-size: 1.125rem; //18px
}


// color Text

.text-green {
    color: $green;
}

.text-gray {
    color: $gray-dark;
}

.text-blue {
    color: $blue;
}

.text-blue-dark {
    color: $blue-dark ;
}