.main-title,
.second-title,
.third-title,
.fourth-title,
.fifth-title {
	color: $blue-dark;
    font-weight: bold;
}

.main-title {
    font-size: 16px;
    font-weight: bold;
}
.second-title {
    font-size: 14px;
    text-align: center;
}


.title-nombre {
    color:$blue-dark;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    span {
        font-weight: bold;
    }
}