
// Breakpoints
$mobile-portrait: 320px;
$mobile-lanscape: 530px;
$tablet-portrait: 768px;
$tablet-lanscape: 830px;
$desktop 		: 1000px;

$mp 	: $mobile-portrait;
$ml 	: $mobile-lanscape;
$tp 	: $tablet-portrait;
$tl 	: $tablet-lanscape;
$d 		: $desktop;

// Colores

$orange : #FFA300; 
$orange-hover : #E59300; 
$orange-light : #FFD58B;

$green : #19CE74; 
$green-dark : #009669;
$green-light : #86ECB9;

$blue : #2274FF; 
$blue-dark : #003287;
$blue-light : #8FB9FF;

$black : #000000; 
$black2 : #18191C; 
$black-light : #5F6268; 

$gray : #BFC1C5;
$gray-dark : #B7C0CE; 
$gray-light : #F3F4F5; 

$white : #F3F4F5; 
