.badge-pendiente {
    color: $orange;
    background-color: $orange-light;
    padding: 8px 25px;
    height: 31px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    text-align: center;
    min-width: 135px;
}

.badge-pagada {
    color: $green;
    background-color: #D2FFE9;
    padding: 8px 25px;
    height: 31px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    text-align: center;
    min-width: 135px;
}

.badge-recomendado {
    color: $green;
    background-color: #D2FFE9;
    padding: 8px 12px;
    height: 31px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    text-align: center;
}