
.btn-verde {
    color:white;
    background-color: $green;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    &:hover {
        color:white;
        background-color: $green-dark;
    }
}

.btn-restablecer {
    color:white;
    background: $gray-dark;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    &:hover {
        color:white;
        background-color:$gray;
    }
}

.btn-blanco {
    border: 1px solid #2274FF;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: $blue;
    font-weight: bold;
    padding: 1rem;
    &:hover {
        color:white;
        background: $blue;
    }
}

.btn-azul {
    background-color: $blue;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

.btn-redes {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    i {
        font-size: 20px;
    }
}

.btn-facebook {
    background-color: #2F80ED;
    border: 1px solid #2274FF;
}

.btn-google {
    background-color: #DD5D5D;
    border: 1px solid #DD5D5D;
}
.btn-twitter{
    background-color: #71CCFF;
    border: 1px solid #71CCFF;
}

.btn-home {
    color:white;
    background-color: $green;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover {
        color:white;
        background-color: $green-dark;
    }
    i {
        margin-right: 10px;
    }
    span {
        margin-right: 10px;
    }
}


.btn-azul-small {
    background-color: $blue;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    &:hover {
        color:white;
    }
}

.btn-convenio {
    background-color: $blue-light;
    border-radius: 8px;
    font-size: 14px;
    color: #2274FF;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    height: 60px;
    align-items: center;
    padding-left: 20px;
    &:hover {
        text-decoration: none;
    }

}

.group-append {
    background-color: #2274FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 90px;
    height: 60px;
}

.btn-pregunta {
    background-color: white;
    border: none;
    font-size: 14px;
    color: #2274FF;
    text-align: left;
    display: block;
    width: 100%;
    &:focus {
        outline: none;
    }
    &:not(.collapsed) {
        font-weight: bold;
        + i{
            &:before {
                content: "\f077";
            }
        }
    }
}


.btn-blanco-img {
    border: 1px solid #2274FF;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: $blue;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        color: $blue;
    }
    i {
        margin-right: 10px;
    }
}

.btn-verde-img {
    color:white;
    background-color: $green;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        color:white;
        background-color: $green-dark;
    }
    i {
        margin-left: 10px;
    }
}

.btn-carga {
    background-color: #F3F4F5;
    border-radius: 8px;
    font-size: 16px;
    color: #2274FF;
    font-weight: bold;
    padding: 1rem;
    color: #BFC1C5;
}

.input-group-pago {
    .input-group-prepend {
        .input-group-text {
            background-color: #19CE74;
            border: 1px solid #109954;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px!important;
        }
    }
}

.input-group-info {
    margin-bottom: 20px;
    .input-group-prepend {
        .input-group-text {
            background-color: $blue ;
            border: 1px solid #004BCB;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px!important;
        }
    }
}

.btn-outline-verde {
    border: 1px solid #19CE74;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 8px;
    font-size: 16px;
    color: $green;
    font-weight: bold;
    padding: 1rem;
    &:hover {
        color:white;
        background:$green;
    }
}


.btn-azul-light {
    background-color: #E7F0FF;
    border: 1px solid #2274FF;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: $blue;
    font-weight: bold;
    padding:.5rem  1rem;
    &:hover {
        color:white;
        background: $blue;
    }
}

.btn-gray-light {
    background-color: #B7C0CE;
    border: 1px solid #B7C0CE;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding:.5rem  1rem;
}

.btn-azul-dark {
    background-color: $blue-dark;
    border: 1px solid $blue-dark;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding:.5rem  1rem;
}
