
// custom height input, select
.form-group {
    margin-bottom: 2rem;
}

.form-control {
    padding: 0.8rem 1rem;
    line-height: 1.5;
    border-radius: 8px;
    height: 60px;
    border-color: $gray-dark;
    font-size: 16px;
    color: $black-light;
}

.form-group {
    select.form-control-lg.form-control {
        height: 60px;
    }
}

// form validation valid, invalid
.form-group {
    position: relative;
}
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
    bottom: 18px;
    right: 26px;
}

.form-control.is-valid {
    border-color: #19CE74;
    color: #19CE74;
}

// custom input check
span.bigcheck-target {
    margin-right: 10px;
}
input[type='checkbox'].bigcheck {     
    position: relative;
    left: -999em; 
}

input[type='checkbox'].bigcheck + span.bigcheck-target:after {
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    border:1px solid #5F6268;
    border-radius: 20px;
}
input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
   content: "";
    background-image: url('../images/icon-check-blue.svg');
    background-repeat: no-repeat;
    background-position: top left;
    border: none;
    border-radius: 0;
    display: block;
}

