
.custom-radio {
    margin-bottom: 20px;
    .custom-control-label {
        &:before {
            width: 2rem;
            height: 2rem;
            border: 2px solid #B7C0CE;
            background-color: transparent; 
        }
        &:after {
            width: 2rem;
            height: 2rem;
        }
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: transparent;
    }
    .custom-control-input:checked~.custom-control-label::after {
        background-image: url(../images/bullet-green.svg)!important;
        background-size: 60%;
    }
    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none !important;
    }
    label {
        color:$black-light;
        padding-left: 30px;
        margin-top: 8px;
    }
}
