.page-datos-personales {
    // border:3px solid red;
      background-image: url(../images/page-datos-personales.jpg);
      background-position: top center;
      background-repeat: no-repeat;
      height: 2500px;
      .main {
        // background-color: transparent;
    }

}

/* .content-page, .content-page-boleta {
    background-color: transparent;
}
 */