.home  {
    //background-image: url(../images/home.png);
    background-position: top center;
    background-repeat: no-repeat;
    // background-position: center 55px;
    // background-position: 31px 0;
    //height: 6000px;
}


/* section slider */
.box-items-slider {
    margin-top: 60px;
    position: relative;
    height: 90px;
    z-index: 1;
}

.box-items-slider-inner {
    display: flex;
    @include min-screen($tl){
        position: absolute; 
    }
}

.item-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7F0FF;
    text-align: center;
    margin-right: 14px;
    width: 160px;
    height: 90px;
    @include min-screen($tl){
        margin-right: 29px;
    }
    &:last-child {
        margin-right: 0;
    }
    span {
        color: $blue-dark;
        font-size: 14px;
        font-weight: bold;
        margin-top: 2px;
    }
}


.carousel-indicators {
    justify-content: flex-end;
    right: -85px;
    //bottom: -100px;
    bottom: -70px;
    li  {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0px 5px;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        border: 2px solid #fff;
        border-radius: 10px;
    }
    .active {
        width: 16px;
        height: 16px;
        margin: 0px 5px;
        background-color: #fff;
    }
}

.box-bg {
    position: absolute;
    width: 37%;
    height: 480px;
    background: linear-gradient(180deg, #80D7EA 13.68%, #1F5BC1 97.86%);
    z-index: 10;
    top: 0;
    right: 0;
    display: none;
    @include min-screen($tl){
        display: block;
    }
}

.box-slider {
    z-index: 11;
    position: relative;
    margin-top: 40px;
    @include min-screen($tl){ 
        margin-top: 0;
    }
}

.slider {
    .carousel-indicators {
        bottom: 0;
        right: -50px;
        @include min-screen($tl){ 
            bottom: -100px;
            right: -65px;
        }
    }
    .container-fluid {
        position: relative;
    }
}

.row-slider {
    // border:2px solid blue;
}

// section ayuda
section.section-ayuda {
    margin-top: 50px;
    @include min-screen($tl){ 
        margin-top: 116px;
    }
}
.title-section {
    color: $blue-dark;
    font-family: $fontRaleway;
    font-size: 37px;
    text-align: center;
    font-weight: bold;
}

.box-pregunta  {
    margin-top: 6px;
    margin: 10px auto;
    max-width: 540px;
    .input-busqueda {
        height: 60px;
        background-color: $gray-light;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid $gray-dark;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        color: $black-light;
        &:focus {
            box-shadow: inset 0 -1px 0 #ddd;
        }
    }
}

.box-items-pregunta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 920px;
    margin: 40px auto 0;
}

.item-ayuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 210px;
    background: #F3F4F5;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
    span {
        color: #003287;
        font-weight: bold;
        font-size: 16px
    }
}



.section-factibilidad {
    margin-top: 50px;
    padding-bottom: 55px;
    .container-fluid {
        position: relative;
    }
}

.bg-bg-fac {
    background-color: #E7F0FF;
    width: 45%;
    height: 585px;
    top:0;
    left: 0;
    position: absolute;
    display: none;
    @include min-screen($tl){
        display: block;
    }
}

.box-factibilidad {
    z-index: 10;
    position: relative;
    @include min-screen($tl){
        margin-top: 63px;
    }
    h2 {
        font-family: $fontRaleway;
        font-weight: bold;
        font-size: 38px;
        color: $blue-dark;
    }
    img {
        margin-top: 20px;
        display: none;
        @include min-screen($tl){
            display: block;
        }
    }
}


.box-detalle {
    margin-top: 20px;
    padding: 0;
    @include min-screen($tl){
        margin-top: 72px;
    padding: 0 0 0 5rem;
    }
}
.item-fact {
    margin-bottom: 72px;
    &:last-child {
       margin-bottom: 0;
    }
    h3 {
        font-family: Raleway;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 0.8rem;
        color: $blue;
    }
    p {
        font-family: Inter;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 1.60rem;
    }
}


section.section-trabajos {
    margin-top: 50px;
    @include min-screen($tl){ 
        margin-top: 66px;
    }
}

.subtitle-section {
    text-align: center;
    color: $black-light;
}

.box-busqueda-mapa  {
    margin-top: 6px;
    margin: 22px auto;
    max-width: 504px;
    .input-mapa {
        height: 60px;
        background-color: white;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border: 1px solid $gray-dark;
        padding: 0.375rem 1rem;
        font-size: 14px;
        color: $black-light;
        &:focus {
            box-shadow: inset 0 -1px 0 #ddd;
        }
    }
}

.box-mapa-all {
    margin: 17px 0;
}

.lista-tipo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    li {
        text-align: center;
        // width: 25%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
       /*  margin: 0 34px 0 0;
        padding: 0 34px 0 0; */
        a {
            color: $blue-dark;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            padding-right: 15px;
            text-align: left;
            max-width: 230px;
            line-height: 20px;
            i {
                margin-right: 18px;
            }
            &:last-child {
                padding-right: 0;
            }
            &.active {
                color:$blue;
                svg path {
                    fill: $blue;
                }
            }
        }
        > span {
            color: $gray;
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }
        /* &:after {
            content: '|';
            position: relative;
        } */
    }
}

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: white;;
}
 */
.lista-tipo-tab {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    border-bottom: none;
    &.nav-tabs {
        .nav-link {
            color: $blue-dark;
            display: flex;
            align-items: center;
            font-weight: bold;
            text-align: left;
            padding: 0;
            &:last-child {
                padding-right: 0;
            }
            &.active {
                border-color: white;;
                color:$blue;
                svg path {
                    fill: $blue;
                }
                .box-tab {
                    span {
                        color:$blue;
                    }
                }
            }
            &:focus, &:hover {
                border-color: white;
            }
           

            .box-tab {
                color: $blue-dark;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: bold;
                padding-right: 15px;
                text-align: left;
                max-width: 230px;
                line-height: 20px;
                i {
                    margin-right: 18px;
                }
                &:last-child {
                    padding-right: 0;
                }
                &.active {
                    color:$blue;
                    svg path {
                        fill: $blue;
                    }
                }
                + span {
                    color: $gray;
                    font-weight: normal;
                }
            }

            
        }
        .nav-item {
            &.show {
                .nav-link {
                    border-color: white;
                    &.active {
                        border-color: white;
                    }
                }
            }
        }
    }

    li {
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: $blue-dark;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            padding-right: 15px;
            text-align: left;
            max-width: 230px;
            line-height: 20px;
            i {
                margin-right: 18px;
            }
            &:last-child {
                padding-right: 0;
            }
            &.active {
                color:$blue;
                svg path {
                    fill: $blue;
                }
            }
        }
        > span {
            color: $gray;
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

.resultado-mapa {
    display: flex;
    margin-top: 36px;
}

.item-mapa {
    border:1px solid $gray;
    color: $blue-dark;
    font-size: 14px;
    display: flex;
    border-radius: 5px;
    padding: 10px 22px 10px 8px;
    width: 368px;
    margin-bottom: 22px;
    position: relative;
    .icon {
        width: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
    }
    .close {
        position: absolute;
        right: 4px;
        top: 2px;
        font-size: 18px;
        &:focus {
            outline: none;
        }
    }
}
.item-dato {
    width: 100%;
    .item-title {
        font-weight: bold;
        line-height: 14px;
    }
    .item-texto {
        display: flex;
        flex-direction: column;
    }
    .row-text {
        display: flex;
        justify-content: space-between;
    }
}

.mapa {
    background-image: url(../images/mapa.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 756px;
    margin-left: 25px;
}

.section-slider {
    margin-top: 40px;
    h2 {
        color: $blue-dark;
        font-family: $fontRaleway;
        font-size: 37px;
        text-align: left;
        font-weight: bold;
        line-height:50px;
    }
    .resume {
        color: $blue-dark;
        font-size: 21px;
        margin-bottom: 11px;
        line-height: 30px;
    }
    .fecha {
        color:$black-light;
        font-weight: bold;
    }
    p {
        color: $black-light;
        line-height: 25px;
        margin-top: 17px;
    }
    .cta-noticia {
        margin-top: 32px;
    }
    .container-fluid {
        position: relative;
    }
}

.box-slider-noticia {
    z-index: 100;
    position: relative;
    margin-top: 100px;

    .carousel-indicators {
        li  {
            background-color: transparent;
            border: 2px solid $blue-dark;
        }
        .active {
            background-color: $blue-dark;
        }
    }
}


.box-bg-news {
    position: absolute;
    width: 44%;
    height: 520px;
    background-color: #D2FFE9;
    z-index: 10;
    top: 0;
    right: 0;
    display: none;
    @include min-screen($tl){
        display: block;
    }
}


.section-noticias {
    margin-top: 72px;
    position: relative;
    z-index: 10;
    .row {
        > div {
            margin-bottom: 60px;
        }
    }
}

.item-noticia {
    border-bottom: 2px solid $gray;
    padding: 0 0 19px 0;
    h3 {
        color: $blue-dark;
        font-size: 21px;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 1.5rem;
    }
    .fecha-noticia {
        color: $green;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        color: $black-light;
        line-height: 23px;
        margin-bottom: 1.5rem;
    }
}


.row-mostrar-noticias {
    display: flex;
    margin-top: 24px;
    border-top: 2px solid $blue-light;
}
.cta-mas-noticias {
    margin: 0 auto;
    position: relative;
    top: -24px;
}



