.page {
    // background-image: url(../images/page-login.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    .footer {
        height: auto;
    }
    .main {
        background-color: #F3F4F6;
        padding: 20px 0 50px 0;
        @include min-screen($tl){
            padding: 50px 0 100px 0;
        }
        .container {
            max-width: 980px;
        }
    }

    .breadcrumb {
        background-color: transparent;
        padding: 0.2rem 0.2rem;
        margin-bottom: 0.3rem;
        li {
            color: $blue;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.section-login {
    h2 {
        font-family: $fontRaleway;
        font-weight: bold;
        font-size: 27px;
        line-height: 32px;
        color: $blue-dark;
        display: block;
        width: 100%;
    }
}

.content-page {
    display: flex;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    @include min-screen($tl){
        flex-direction: row;
        padding: 70px 46px 135px 46px;
    }
    .layout-formulario {
        @include min-screen($tl){
            width: 60%;
        }
    }
    h3 {
        color:$blue-dark;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 23px;
        
    }

    .layout-redes  {
        @include min-screen($tl){
            padding: 0 40px;
            width: 40%;
        }
        h3 {
            margin-bottom: 10px;
        }
    }
}

.box-redes-login  {
    a {
        margin-bottom: 1rem;
        @include min-screen($tl){
            margin-bottom: 40px;
        }
    }
}

.formulario-login {
    .form-group {
        margin-bottom: 1rem;
        @include min-screen($tl){
            margin-bottom: 2rem;
        }
    }
    .form-control {
        font-size: 16px;
        border: 1px solid $gray-dark;
        box-sizing: border-box;
        border-radius: 8px;
    }
}

.form-group-all {
    @include min-screen($tl){
        border-right: 1px dashed #B7C0CE;
        padding-right: 53px;
    }
}

.box-switch {
    display: flex;
    margin-bottom: 20px;
    @include min-screen($tl){
        margin-bottom: 56px;
        margin-top: 70px;
    }
    .custom-control-label {
        margin-bottom: 0;
        margin-left: 20px;
        &:before, &:after {
            display: none;
        }
    }
}

.dual-btn {
    margin-top: 25px;
    @include min-screen($tl){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        margin-bottom: 20px;
        @include min-screen($tl){
            margin-bottom: 0;
        }
    }
}