
.box-custom-radio {
    margin-top: 10px;
}

.box-input-upload {
    max-width: 540px;
    margin: 0 auto;
}

.lista-terminos {
    margin-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    color: #B7C0CE;
}
