.page-registro-usuario {
    .content-page {
        padding: 20px;
        @include min-screen($tl){
            padding: 30px 46px 80px 46px;
        }
    }
}

/* Sass map  Bootstrap */

.box-button {
    margin-top:2rem;
}

.row-texto-form {
    display: block;
    width: 100%;
    margin-top: 1rem;
    @include min-screen($tl){
        margin-top: 5rem;
    }
    p {
        color: $black-light;
        text-align: center;
        font-size: 14px;
    }
}

.box-steps {
    @include min-screen($tl){
        width: 80%;
        margin: 0 auto;
    }
}
/* Steps */

.step {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    .step-item {
        flex: 1 1 0;  
       /*  flex-grow: 1; */
        position: relative;
        text-align: center;
        &:not(:first-child)::before {
            background-color: #D9D9D6;
            content: "";
            height: 0.125rem;
            left: -50%;
            position: absolute;
            top: 0.7375rem;
            width: 100%;
            z-index: 0;
        } 
        &:nth-child(2)::before {
            /* width: 80%;
            left: -40%; */
            width: 70%;
            left: -35%;
        } 
        &:nth-child(3)::before {
            width: 70%;
            left: -35%;
        } 
        &.active {
           a {
               &::before {
                background: #fff;
                border: 3px solid $blue;
               }
               span {
                   color:$blue;
               }
           }
           p {
               color:$blue;
           }
        }

        p {
            color: $black-light;
            font-size: 14px;
            margin-top: 12px;
        }

        .step-item-link {
            color: #69707a;
            position: relative;
            display: inline-block;
            padding-top: 1.25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-decoration: none;
            z-index: 1;
            span {
                color:white;
                position: absolute;
                top: 4px;
                z-index: 11;
                left: 11px;
                display: flex;
                font-weight: bold;
            }
            &:before {
                background-color: $gray;
                border: 0.125rem solid #fff;
                border-radius: 100%;
                content: "";
                display: block;
                height: 2rem;
                width: 2rem;
                left: 50%;
                position: absolute;
                top: 0;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
      }
  }
  

/*   .step .step-item.active a::before {
    background: #fff;
    border: 0.125rem solid $blue;
  } 
   */
 /*  .step .step-item .step-item-link.disabled {
    pointer-events: none;
    cursor: default;
  } */

/*   .step .step-item.active ~ .step-item .step-item-link {
    color: #d4dae3;
  }
  .step .step-item.active ~ .step-item .step-item-link::before {
    background: #d4dae3;
  }
  .step .step-item.active ~ .step-item::before {
    background: #d4dae3;
  } */