
.page.page-restablecer-contrasena {
    //background-image: url(../images/page-restablecer-exito.jpg);
    background-position: top center; 
    // background-position: 212px 4px;
    .main {
       //background-color: transparent;
        .container {
            max-width: 780px;
        }
    }
}


.box-top-restablecer {
    padding-top: 10px;
    padding-bottom: 18px;
    h4 {
        color:$blue-dark;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 18px;
        span {
            font-weight: bold;
        }
    }
    p {
        color: $black-light;
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
        padding: 0 0 0 0;
        @include min-screen($tl){
            padding: 0 12rem 0 0;
        }
    }
}

.form-eye {
    label {
        color: $black-light;
        font-size: 16px;
        line-height: 25px;
    }
    .form-control {
        border-right: 0;
        font-size: 16px;
        color: $black-light;
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: rgba(0, 0, 0, 0.15);
        }
    }
    .input-group-addon {
        padding: 0.5rem 1rem;
        border: 1px solid rgba(0,0,0,.15);
        border-left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-eye {
        color:$blue;
    }
}


.box-btn-restablecer {
    margin-top: 42px;
    text-align: center;
}

.parrafo-italic {
    color: $black-light;
    font-size: 16px;
    line-height: 25px;  
    font-style: italic;
}

.togglePassword {
    color: #B7C0CE;
}

.box-icono-check {
    text-align: center;
    margin-top: 18px;
}

.texto-exitoso {
    margin-top: 20px;
    padding: 0 1rem;
    @include min-screen($tl){
        padding: 0 5.3rem;
        margin-top: 40px;
    }
    p {
        color: $blue-dark;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
    }
}

.box-btn-oficina {
    margin-top: 35px;
    text-align: center;
}