.page.page-solicitar-boelta {
    // background-image: url(../images/page-boleta.png);
    // background-position: top center;
    // background-position: 271px 54px;
    /* background-position: 271px -13px; */
    // background-position:  180px 10px;
    background-position:  230px  0;
    background-repeat: no-repeat;
    // height: 1050px;
    .main {
        // background-color: transparent;
        .container {
            //max-width: 980px;
            //max-width: 1060px;
        }
    }
    .breadcrumb {
        // background-color: transparent;
    }
}


.content-page-boleta {
    background-color: white;
    margin-top: 15px;
    // height: 1750px;
    .alert-success {
        background-color: $green;
        color:white;
    }
}
.banner-boleta {
    img {
        width: 100%;
        display: block;
    }
}

.form-boleta {
    padding: 20px 10px;
    @include min-screen($tl){
        padding: 28px 60px 60px 60px;
        margin-top: 28px;
    }
}

.box-form-boleta {
    display: block;
    .form-group  {
        label {
            color:$blue-dark;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            //margin-bottom: 20px;
        }
        
    }
 
}

.list-input {
    margin-left: 15px;
    margin-top: 7px;
    margin: 7px 0 0 15px;
    li {
        color: gray;
        font-size: 12px;
    }
}

.margin-input {
   
    @include min-screen($tl){
        margin-top: 31px;
    }
}

.input-group-busqueda{
    .input-group-text {
        background-color: transparent;
        border: none;
        border-color: white;
    }
     .input-busqueda {
        border: none;
        border-radius: 0;
    }
    .fa-search {
        color: $blue;
    }
    .input-group-prepend {
        background-color: white;
    }
}

.box-row {
    margin: 0 0 23px 0;
    .col-md-6 {
        margin-bottom: 15px;
        @include min-screen($tl){
           margin-bottom: auto;
        }
    }
}
.line-top {
    border-bottom: 1px dashed  $gray;
}


.container-check {
    border:1px solid blue;
    label {
        color: $blue;
        font-weight: normal;
        font-size: 14px;
        text-decoration: underline;
    }
}



.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;

    bottom: 18px;
    right: 26px;
}

/* .form-control-lg  + {
    .valid-feedback.feedback-icon,
    .invalid-feedback.feedback-icon {
        bottom: 18px;
        right: 26px;
    }
}
 */

span.bigcheck-target {
    margin-right: 10px;
   /*  color: $black-light ;
    width: 32px;
    height: 32px; */
}
input[type='checkbox'].bigcheck {     
    position: relative;
    left: -999em; 
}

input[type='checkbox'].bigcheck + span.bigcheck-target:after {
    content: "";
    //background-image: url('../images/icon-check-gray.svg');
    width: 32px;
    height: 32px;
    display: block;
    border:1px solid #5F6268;
    border-radius: 20px;
}
input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
   content: "";
    background-image: url('../images/icon-check-blue.svg');
    background-repeat: no-repeat;
    background-position: top left;
    border: none;
    border-radius: 0;
  /*   width: 32px;
    height: 32px; */
    display: block;
}

.box-check {
    background-color: #F9F9F9;
    padding: 10px 20px 10px 6px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.box-check label {
    display: flex;
    align-items: center;
    margin: 0;
    i {
        font-size: 12px;
        color: #5F6268;
        font-style: normal;
    }
}

.box-boleta-recapcha {
    max-width: 350px;
    margin: 30px auto;
}

.row-check {
    margin-top: 20px;;
    @include min-screen($tl){
        margin-top: 50px;;
    }
}

.texto-informa {
    margin-top: 20px;
    p {
        text-align: center;
        color:$gray;
        font-size: 14px;
        margin-bottom: 0;
        span {
            display: block;
        }
    }
}



/* Boleta Exitoso */

.page.page-restablecer-exito {
    //background-image: url(../images/page-restablecer-exito.jpg);
    background-position: top center; 
    // background-position: 212px 4px;
    .main {
       //background-color: transparent;
        .container {
            max-width: 780px;
        }
    }
}

.content-mensaje {
    padding: 30px 30px 100px 30px;
    max-width: 780px;
    margin: 0 auto;
    @include min-screen($tl){
        padding: 60px 30px 200px 30px;
    }
}

.texto-exito {
    padding: 30px 50px;
    @include min-screen($tl){
        padding: 60px 100px;
    }
    color:$black-light;
    span {
        font-weight: bold;
    }
}

.box-mensaje {
    .alert {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.box-btn-volver {
    text-align: center;
    a {
        text-decoration: underline;
    }
}

.col-invisible {
    .invisible {
        @include max-screen($tl){
           display: none;
        }
    }
}