
body {
    background-position: top center;
    background-repeat: no-repeat;
    /* &.page-educar-boleta {
         background-image: url(../images/m-educar-boleta-3.jpg);
         background-position: 0 57px;
         .content-page-boleta {
            background-color: transparent; 
        }
    } */
}

.page-educar-boleta {
    // border:1px solid red;
}

/* section videos */
.section-video {
    background-color: #E7F0FF;
    padding: 30px 35px 40px 35px;
}

.box-texto-video {
    p {
        color:#5F6268;
        line-height: 28px;
    }
}

.box-img {
    margin-bottom: 36px;
    img {
        width: 100%;
    }
}


/* section boleta */ 
.content-page-boleta {
    background-color: white;
    padding: 40px 30px 22px;
    border-radius: 8px;
}

.title-boleta {
    color: $blue-dark;
    font-size: 18px;
    font-weight: bold;
    font-family: $fontRaleway;
    text-align: center;
    padding: 0 30px;
}

.title-litle {
    color: $black-light;
    font-size: 14px;
    text-align: center;
    padding: 0 20px;
}

.row-btn-boleta {
    margin-top: 34px;
    margin-bottom: 25px;
    border-bottom: 1px dotted #979797;
    padding-bottom: 50px;
   /*  a {
        margin-bottom: 30px;
    } */
}

.form-descarga-boleta {
    .list-input {
        margin: 20px 0 20px 15px;
        li {
            font-size: 11px;
            margin-bottom: 5px;
        }
    }
}


/* section datos*/
.section-datos-boleta {
    background-color: $gray-light;
}

.footer-dato {
    width: 100%;
    padding: 64px 30px 60px 44px;
}

.item-footer-dato {
    display: flex;
    align-items: center;
    height: 80px;
    i {
        margin-right: 15px;
        width: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    > span {
        color: #003DA5;
        font-size: 20px;
        a {
            display: block;
            color: #003DA5;
            font-size: 20px;
        }
    }
    .small  {
        font-size: 16px;
    }
}

.btn-block + .btn-block {
    margin-top: 30px;
   /*  border:1px solid orange; */
}

.group-input {
    display: block;
    width: 100%;
}

.detalle-cuenta {
    padding: 28px 39px;
}
.lista-cuenta {
    .title-cuenta {
        color:$black-light;
        font-size: 16px;
        color:#5F6268;
        font-weight: bold;
    }
    .resultado-cuenta {
        color:$black-light;
        font-size: 16px;
        color:#5F6268;
    }
    .estado-cuenta {
        color: $orange;
        font-size: 16px;
    }
}

.lista-cuenta {
    list-style: none;
    li {
        margin-bottom: 20px;
    }
    .title-cuenta {
        color: #5F6268;
        font-size: 16px;
        color: #5F6268;
        font-weight: bold;
        display: block;
    }
    .resultado-cuenta {
        color: #5F6268;
        font-size: 16px;
        color: #5F6268;
    }
}

.content-nav-tabs {
    border-top: 1px dotted #979797;
    padding-top: 31px;
    &.tabs-cuenta {
        .nav-link {
            font-size: 14px;
            padding: 0.5rem 0.8rem;
        }
    }
}

.link-descarga {
    font-weight: bold;
    text-decoration: underline;
}