/* .page-historial-pago {
    border:1px solid red;
    background-image: url(../images/page-historial-pago.jpg);
    background-position: 0 0;
} */

.section-historial-pago {
    /* height: 1000px; */
    padding: 20px 10px;
}

.form-filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-select-sm {
    font-size: 10px;
    padding: 5px 12px;
    border: 1px solid #B7C0CE;
    border-radius: 5px;
}
.btn-sm {
    font-size: 10px;
    padding: 5px 12px;
}

.table-listado {
    color:#5F6268;
    margin-top: 20px;
    background-color: white;
    thead {
        tr {
            /* color:#5F6268; */
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            border-bottom: 0;
        }
        th {
            border-bottom: none;
        }
    }
    tbody {
        tr {
            font-size: 12px;
        }
    }
}

.borderless td, .borderless th  {
    border: none;
}
