.section-historial-pago {
    padding: 20px 10px;
}

.form-filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.table-listado {
    color:#5F6268;
    margin-top: 20px;
    background-color: white;
    thead {
        tr {
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            border-bottom: 0;
        }
        th {
            border-bottom: none;
        }
    }
    tbody {
        tr {
            font-size: 12px;
        }
    }
}

.borderless td, .borderless th  {
    border: none;
}
