body {
    background-position: top center;
    background-repeat: no-repeat;
   /*  &.home {
         background-image: url(../images/home-app.jpg);
         background-position: 0 -12px;
     } */
}

.precio-deuda {
    color:$blue;
    font-size: 51px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    margin-bottom: 15px;
}
.texto-deuda {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}
.dias-boleta {
    color:$blue-dark;
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
    span {
        background-color: $orange;
        width: 23px;
        height: 23px;
        border-radius: 5px;

        width: 23px;
        height: 23px;
        display: inline-block;
        font-weight: bold;
        color: white;
    }
}


.home {
    // border:1px solid red;
}

.row-btn {
    padding: 0 20px;
    margin-bottom: 10px;
}

.box-element-wrap {
    margin-top: 41px;
    border: 1px solid #DCE2EC;
    border-radius: 5px;
    padding: 16px 13px;
}

.item-element {
    display: flex;
    .box-mapa {
        margin-right: 10px;
        position: relative;
    }
}

.text-mapa {
    padding-top: 11px;
    h5 {
        font-size: 14px;
        color: $blue-dark;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        color: $black-light;
        line-height: 22px;
        margin-bottom: 0;
    }
}

.flag-new {
    background-color: #D2FFE9;
    position: absolute;
    width: 108px;
    height: 31px;
    font-size: 12px;
    font-weight: bold;
    color: #19CE74;
    top: -27px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.flag-disponible {
    background-color: #8FB9FF;
    position: absolute;
    width: 108px;
    height: 31px;
    font-size: 12px;
    font-weight: bold;
    color: #2274FF;
    top: -27px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.box-boleta {
    margin-right: 25px;
    position: relative;
    padding-top: 24px;
    padding-left: 39px;
}

.text-boleta {
    display: flex;
    a {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        i {
            margin-left: 30px;
        }
    }
}

.box-consumo-total {
    background-color: $blue-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 3px 15px;
    .detalle-consumo {
        color:#2274FF;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }
    .cantidad-consumo {
        color:#003287;
        font-size: 36px;
    }
}
.tab-grafica {
    background-image: url(../images/tab-grafica.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 780px;
}

// notificaciones 

.box-estado-operacional {
    display: none;
    width: 98%;
    position: absolute;
    // height: 490px;
    z-index: 12;
    left: 1%;
    top: 80px;
    padding: 10px 0 0  0;
    background: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    &.active {
        display: block;
    }
    .title-estado {
        color: $blue-dark;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 15px;
        padding: 0 23px;
    }
}

.row-estado {
    // padding: 8px 23px 8px 23px;
    padding: 8px 36px 8px 23px;
    display: flex;
    &:hover {
        // cursor: pointer;
        background: #D2FFE9;
        border-radius: 5px;
    }
    i {
        margin-right: 19px;
    }
    .texto-estado {
        .subtitle-estado {
            color: $black-light;
            font-weight: bold;
            font-size: 14px;
            line-height: 23px;
        }
        p {
            color: $black-light;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 13px;
        }
    }

}

.estado-porcentaje {
    display: flex;
    width: 75px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    i {
        color:$black-light;
        font-size: 14px;
        font-weight: bold;
    }
    span {
        font-size: 14px;
        color: $black-light;
        font-weight: bold;
    }
}

.row-botones {
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    // order-top: 1px solid #BDBDBD;
    display: flex;
}


.box-lista-notifica {
    /* background-image: url(../images/page-notificaciones.jpg);
    background-repeat: no-repeat;
    background-position: top center; */
    display: none;
    width: 98%;
    position: absolute;
    // height: 490px;
    z-index: 12;
    left: 1%;
    top: 80px;
    padding: 17px 0 0  0;
    background-color: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    &.active {
        display: block;
    }
    .title-notifica {
        color: $blue-dark;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 4px;
        padding: 0 23px;
        display: flex;
        justify-content: space-between;
    }
}

.row-notifica {
    padding: 8px 36px 8px 23px;
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    &.reader {
        background-color: #F2F4F4;
    }
    i {
        margin-right: 19px;
    }
    .texto-notifica {
        .subtitle-notifica {
            color: $black-light;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 4px;
            span {
                font-weight: bold;
            }
        }
        p {
            color: $black-light;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 0;
        }
    }

}

.punto {
    width: 6px;
    height: 6px;
    border: 1px solid $blue;
    background-color: $blue;
    border-radius: 20px;
    position: unset;
    display: block;
    right: -20px;
    display: flex;
    border-radius: 100%;
    min-width: 6px;
    position: relative;
    top: 4px;

    .reader & {
        border:1px solid #979797;
        background-color: transparent;
    }
}

.circle-notifica {
    width: 45px;
    height: 45px;
    background: $blue;
    border-radius: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    margin-right: 10px;
}

.circle-check {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    margin-right: 10px;
}

