.content-medidor {
    padding: 0 46px 80px 46px;
}

.content-medidor-detalle {
    padding: 0 25px 80px 25px;
}


.row-title-medidor {
    display: flex;
    padding: 0 20px;
    margin-top: 4px;
}

.box-dato-personal {
    display: flex;
    flex-wrap: wrap;
}

.box-medidor {
    padding: 0 0 30px 0;
    margin-top: 37px;
    display: flex;
    align-items: flex-start;
}

.circle-number {
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 100%;
    background: #8C98B2;
    min-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5px;
    margin-right: 13px;
}

.box-input-medidor {
    border-top: 1px dashed #B7C0CE;
    padding: 25px 0;
    .input-group {
        border: 2px solid #B7C0CE;
        border-radius: 5px;
        &.active {
            border: 2px solid #2274FF;
            .input-group-prepend {
                background-color: #E7F0FF;
            }
            .form-control {
                background-color: #E7F0FF;
            }
        }
    }
    .form-control {
        height: 90px;
        border: none;
        padding: .375rem 1.2rem;
        border-radius: 5px;
    }

    .input-group-prepend .input-group-text {
        background-color: transparent;
        border: none;
        padding: .375rem 1.5rem;
    }

  

}

.box-input-cuenta {
    border-top: 1px dashed #B7C0CE;
    padding-top: 25px;
}

/* medidor 3 */
.row-cuenta {
    border-top: 1px dashed #B7C0CE;
    border-bottom: 1px dashed #B7C0CE;
    padding:20px 0 12px 0;
}

.table-flex-cuenta {
    font-size: 14px;
    .row {
        margin-bottom: 10px;
        border-bottom: 1px solid #F3F4F5;
        padding-bottom: 6px;
        &.title-table {
            padding-top: 4px;
            padding-bottom: 12px;
           .col {
             &:first-child {
                color:$blue-dark;
             }
           }
        }
        .col {
            &:first-child {
                color:$blue;
            }
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

.box-nombre-persona {
    display: flex;
    margin-bottom: 10px;
    .avatar {
        margin-right: 10px;
    }
    .nombre-cargo {
        .nombre {
            
        }
        .cargo {

        }
    }
}

.box-persona-cuenta {
    margin-top: 20px;
}

.perfil-persona {
    margin-top: 13px;
}

.lista-dato-persona {
    list-style: none;
    li {
        color:#5F6268;
        font-size: 12px;
        margin-bottom: 12px;
        span {
            font-weight: bold;
        }
    }
}

.link-celeste {
    color:#2D9CDB;
    font-size: 14px;
}

.box-lectura {
    border-top: 1px dashed #B7C0CE;
    padding: 15px 0;
    margin-top: 34px;
}

.alert-lectura {
    padding: 8px 14px;
    background-color: #D2FFE9;
    color:$green;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 8px;
}

.lista-terminos {
    margin-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    color: #B7C0CE;
    margin-bottom: 15px;
}

.form-lectura {
    .form-group {
        height: 40px;
        font-size: 14px;
    }
}

.form-lectura {
    padding: 0 15px;
}

/* lectura medidor 4*/
.box-dato-lectura {
    margin-bottom: 20px;
}

