.content-page {
    padding: 10px 20px;
}

.box-redes {
    margin-top: 40px;
}

.layout-redes {
    margin-bottom: 26px;
}

.box-redes-login  {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 19px;
    a {
        // margin-right: 35px;
    }
}


.box-cuenta {
    margin-top: 22px;
    p {
        color:#5F6268;
        text-align: center;
    }
}
