.input-search {
    width: 270px;
    height: 60px;
    position: absolute;
    top: 8px;
    right: 10px;
    input {
        font-size: 14px;
        &.form-control {
            border-right: 0;
            border-top-left-radius: 100px!important;
            border-bottom-left-radius: 100px;
            padding: 0.8rem 1.4rem;
        }
    }
    .input-group-text {
        border-top-right-radius: 99px!important;
        border-bottom-right-radius: 100px!important;
        background-color: white;
        border-left: none;
        padding-right: 30px;
    }
    .fa-search {
        color:$blue;
        font-size: 22px;
    }
}


/* Mapa reporte - 1*/

/* .page-reporte-1 {
    background-image: url(../images/page-reporte-1.jpg);
    background-repeat: no-repeat;
    background-position: 0 20px;
} */


.content-reporta {
    padding: 15px 0 100px 0;
}

.title-number {
    display: flex;
}

.circle-title {
    color: #8FB9FF;
    font-size: 16px;
    font-weight: bold;
    background-color: #E7F0FF;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-reporte {
    padding: 15px 0;
}
