.input-search {
    width: 270px;
    height: 60px;
    position: absolute;
    top: 8px;
    right: 10px;
    input {
        font-size: 14px;
        &.form-control {
            border-right: 0;
            border-top-left-radius: 100px!important;
            border-bottom-left-radius: 100px;
            padding: 0.8rem 1.4rem;
        }
    }
    .input-group-text {
        border-top-right-radius: 99px!important;
        border-bottom-right-radius: 100px!important;
        background-color: white;
        border-left: none;
        padding-right: 30px;
    }
    .fa-search {
        color:$blue;
        font-size: 22px;
    }
}


/* Mapa reporte - 1*/

/* .page-reporte-2 {
    background-image: url(../images/page-reporte-2.jpg);
    background-repeat: no-repeat;
    background-position: 0 20px;
}
 */

.content-reporta {
    padding: 15px 0 100px 0;
}

.title-number {
    display: flex;
}

.circle-title {
    color: #8FB9FF;
    font-size: 16px;
    font-weight: bold;
    background-color: #E7F0FF;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-reporte {
    padding: 15px 0;
    p {
        font-size: 14px;
        color:$gray-dark;
    }
}

.forn-icon {
    img {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
 
.box-seleccion {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    padding: 17px 0;
    input {
        width: auto;
        padding: 0.25rem 0.8rem;
        border-radius: 20px;
        border: 2px solid #BFC1C5;
        color: #BFC1C5;
        font-size: 14px;
        font-weight: bold;
        height: 44px;
        outline: none;
        cursor: pointer;
        &.active {
            border:2px solid orange;
            outline: none;
            border-color: $blue;
            color:$blue;
            background-color: #E7F0FF;
            &::placeholder {
                color: $blue;
            }
        }
       
        /* &.active {
            background-color: #D2FFE9;
            border: 2px solid #86ECB9;
            font-size: 14px;
            color: #19CE74;
            &::placeholder {
                color: #19CE74;
            }
        } */
    }
    .input-mediun {
        width: 50%;
    }
    .input-large {
        width: 70%;
    }
    .input-small {
        width: 40%;
    }

    &.tipo-reporte  {
        input {
            &.active {
                background-color: #D2FFE9;
                border: 2px solid #86ECB9;
                font-size: 14px;
                color: #19CE74;
                &::placeholder {
                    color: #19CE74;
                }
        }   }
    }
  /*   &.mapa {
        input {
            border:1px solid red;
            &:focus-visible, &:active {
                border:2px solid orange;
                outline: none;
                border-color: $blue;
                color:$blue;
                background-color: #E7F0FF;
                &::placeholder {
                    color: $blue;
                }
            }
        }
        
    } */
}

.forn-icon-file {
    img {
        position: absolute;
        top: 15px;
        left: 20px;
    }
}