.section-notificaciones {
    margin-bottom: 140px;
}

.row-detalle-notifica {
    padding: 8px 36px 100px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: $black-light;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 3px;
    }
    .texto-notifica {
        margin-top: 10px;
        .subtitle-notifica {
            color: $black-light;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 4px;
            text-align: justify;
            span {
                font-weight: bold;
            }
        }
    }
}

.circle-detalle-notifica {
    width: 55px;
    height: 55px;
    background: $blue;
    border-radius: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
}

.circle-detalle-alert {
    width: 55px;
    height: 55px;
    background: #FF8B8B;
    border-radius: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
}


.row-btn-notifica {
    width: 100%;
    margin-top: 100px;
}

.link-regresar {
    color: $blue;
    font-size: 14px;
    text-align: right;
    display: block;
    text-decoration: underline;
    font-weight: 600;
}

/* notificaciones mapa*/
.texto-espera {
    width: 100%;
    margin-top: 4px;
    span {
        color:$black-light;
        font-size: 12px;
    }
}

.mapa-notificaciones {
   margin: 18px 0 22px 0;
}