.section-notificaciones {
    margin-bottom: 140px;
}

.row-detalle-notifica {
    padding: 8px 36px 100px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: $black-light;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 3px;
    }
    .texto-notifica {
        margin-top: 10px;
        .subtitle-notifica {
            color: $black-light;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 4px;
            text-align: justify;
            span {
                font-weight: bold;
            }
        }
    }
}

.circle-detalle-notifica {
    width: 55px;
    height: 55px;
    background: $blue;
    border-radius: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
}

.circle-detalle-alert {
    width: 55px;
    height: 55px;
    background: #FF8B8B;
    border-radius: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
}


.row-btn-notifica {
    width: 100%;
    margin-top: 100px;
}

.link-regresar {
    color: $blue;
    font-size: 14px;
    text-align: right;
    display: block;
    text-decoration: underline;
    font-weight: 600;
}

/* notificaciones mapa*/
.texto-espera {
    width: 100%;
    margin-top: 4px;
    span {
        color:$black-light;
        font-size: 12px;
    }
}

.mapa-notificaciones {
   margin: 18px 0 22px 0;
}

/* Notificaciones 8 - section-zona */

/* .page-notificaciones {
    background-image: url(../images/pagina-mapa-zona.jpg);
    background-position: 0 4px;
    background-repeat: no-repeat;
} */

.content-zona {
    padding-bottom: 130px;
}

.texto-parrafo {
    color:$black-light;
    font-size: 12px;
}

.box-trabajos-mapa {
    margin: 0 10px;
}
.item-mapa {
    margin-top: 25px;
    border:1px solid $gray;
    color: $blue-dark;
    font-size: 14px;
    display: flex;
    border-radius: 5px;
    /* padding: 10px 20px 10px 20px; */
    padding: 10px 20px 10px 10px;
    /* margin:25px 0 0 0; */
    position: relative;
    .icon {
        width: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
    }
    .close {
        position: absolute;
        right: 4px;
        top: 2px;
        font-size: 18px;
        &:focus {
            outline: none;
        }
    }
}

.item-dato {
    width: 100%;
    .item-title {
        font-weight: bold;
        line-height: 14px;
    }
    .item-texto {
        display: flex;
        flex-direction: column;
    }
    .row-text {
        display: flex;
        justify-content: space-between;
    }
}

.form-lugar {
    margin-top: 25px;
    .form-group {
        margin-bottom: 0.8rem;
    }
}
