.page-pago {
    /* border:1px solid red; */
    background-image: url(../images/page-pago1.jpg);
    background-position: 0 0;
    .content-page {
        background-color: transparent; 
    }
}

.row-vence {
    height: 26px;
    background-color: #8FB9FF;
    color:#2274FF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.section-contenido {
    height: 1330px;
}