
body {
    background-position: top center;
    background-repeat: no-repeat;
    &.page-boleta123 {
         background-image: url(../images/m-boleta-1.jpg);
         background-position: 0 0;
        /*  .content-page-boleta {
            background-color: transparent; 
        } */
    }
}

.badge-pendiente {
    color: $orange;
    font-size: 16px;
    background-color: $orange-light;
    padding: 8px 25px;
    height: 31px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
}

.btn-carga {
    background-color: #F3F4F5;
    border-radius: 8px;
    font-size: 16px;
    color: #2274FF;
    font-weight: bold;
    padding: 1rem;
    color: #BFC1C5;
}