.btn-ingresar {
    background-color: $orange;
    color: white;
    font-size: 14px;
    border-radius: 100px;
    padding: 0.8rem 1.6rem;
    display: flex;
    position: relative;
    align-items: center;
    i {
        margin-right: 11px;
        position: relative;
        display: flex;
    }
    &:hover {
        background-color: $orange-hover;
        color:white;
    }
}

.btn-banner {
    background-color: $green;
    color: white;
    border-radius: 8px;
    padding: 1rem 5.34em;
    &:hover {
        background-color: $green-dark;
        color:white;
    }
}

.btn-busqueda {
    color: #fff;
    background-color: $green;
    border-color: #109954;;
    padding: 0 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    i {
        position: relative;
        top: 2px;
    }
}

.btn-consultar {
    color: white;
    width: 214px;
    background-color: $orange ;
    border-radius: 8px;
    padding: 0.8rem 4.4rem;
    &:hover {
        background-color: #E69300;
        color:white;
    }
}

.btn-mapa {
    color: #fff;
    background-color: white;
    border-color: #BDBDBD;
    padding: 0 20px;
    border-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    i {
        position: relative;
        top: 2px;
    }
}

.btn-noticia {
    background-color: $green;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 0.8rem 3.8rem;
    &:hover {
        background-color: $green-dark;
        color:white;
    }
}

.btn-ver-mas {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}


.btn-mostrar-noticias {
    color: white;
    background-color: $orange;
    border-radius: 8px;
    padding: 0.7rem 2.4rem;
    font-size: 16px;
    font-weight: bold;
    &:hover {
        background-color: #E69300;
        color:white;
    }

}
.btn-mostrar-politicas {
    color: white;
    background-color: $orange;
    border-radius: 8px;
    padding: 0.7rem 2.4rem;
    font-size: 16px;
    font-weight: bold;
    &:hover {
        background-color: #E69300;
        color:white;
    }
}

.btn-login {
    color:white;
    font-size: 16px;
    background: #19CE74;
    border-radius: 8px;
    &:hover {
        color:white;
        background-color: $green-dark;
    }
}

.btn-lg {
    padding: 0.8rem 1rem;
} 


.btn-registrame {
    border: 1px solid #2274FF;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: $blue;
    font-weight: bold;
    width: 100%;
    @include min-screen($tl){
        width: 215px;
    }
    &:hover {
        color: $blue;
    }
}

.btn-redes {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.5rem;
    display: block;
    width: 50px;
    height: 50px;;
    @include min-screen($tl){
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    &:hover {
        color:white;
    }
    i {
        font-size: 20px;
        @include min-screen($tl){
            margin-right: 13px;
        }
    }
    span {
        display: none;
        @include min-screen($tl){
           display: block;
        }
    }
}
.btn-facebook {
    background-color: #2F80ED;
    border: 1px solid #2274FF;
}

.btn-google {
    background-color: #DD5D5D;
    border: 1px solid #DD5D5D;
}
.btn-twitter{
    background-color: #71CCFF;
    border: 1px solid #71CCFF;
}

.btn-restablecer {
    color:white;
    font-size: 16px;
    background: $gray-dark;
    border-radius: 8px;
    &:hover {
        color:white;
        background-color: $green;
    }
}


.btn-medium {
    color:white;
    font-size: 16px;
    font-weight: bold;
    background: #19CE74;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    &:hover {
        color:white;
        background-color: $green-dark;
    }
    @include min-screen($tl){
      padding: 0.8rem 3rem;
    }
}


.btn-agregar {
    background-color: $blue;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    &:hover {
        background-color: $blue-dark;
        color:white;
    }
}

.btn-empresa {
    background-color: $blue;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 100%;
    @include min-screen($tl){
        width: 215px;
    }
}

.btn-empresa {
    &:hover {
        background-color: #0B4CBB;
        color:white;
    }
}
