.btn-ingresar {
    background-color: $orange;
    color: white;
    font-size: 14px;
    border-radius: 100px;
    padding: 0.8rem 1.6rem;
    display: flex;
    position: relative;
    align-items: center;
    i {
        margin-right: 11px;
        position: relative;
        display: flex;
    }
    &:hover {
        background-color: $orange-hover;
        color:white;
    }
}

.btn-banner {
    background-color: $green;
    color: white;
    border-radius: 8px;
    padding: 1rem 5.34em;
    &:hover {
        background-color: $green-dark;
        color:white;
    }
}

.btn-busqueda {
    color: #fff;
    background-color: $green;
    border-color: #109954;;
    padding: 0 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    i {
        position: relative;
        top: 2px;
    }
}

.btn-consultar {
    color: white;
    width: 214px;
    background-color: $orange ;
    border-radius: 8px;
    padding: 0.8rem 4.4rem;
    &:hover {
        background-color: #E69300;
        color:white;
    }
}

.btn-mapa {
    color: #fff;
    background-color: white;
    border-color: #BDBDBD;
    padding: 0 20px;
    border-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    i {
        position: relative;
        top: 2px;
    }
}

.btn-noticia {
    background-color: $green;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 0.8rem 3.8rem;
    &:hover {
        background-color: $green-dark;
        color:white;
    }
}

.btn-ver-mas {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}


.btn-mostrar-noticias {
    color: white;
    background-color: $orange;
    border-radius: 8px;
    padding: 0.7rem 2.4rem;
    font-size: 16px;
    font-weight: bold;
    &:hover {
        background-color: #E69300;
        color:white;
    }
}