.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input::placeholder {
  color: $gray-dark!important;
  font-size: 16px;
}

.hide {
  display: none!important;
}

/* Custom Class Bootstrap */
$input-padding-y-lg : 1rem;
$input-padding-x-lg:  1rem;
.form-control-lg {
  padding: $input-padding-y-lg $input-padding-x-lg;
  border-radius: 8px;
  font-size: 16px;
} 


/* form switch toggle */
.box-switch {
  .switch {
    display: inline-block;
    height: 21px;
    position: relative;
    width: 54px;
    input {
      display:none;
    }
  }

  .slider {
    background-color: #E7F0FF;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    &:before {
      background-color: #19CE74;
      background-color: #B7C0CE;
      bottom: 0;
      content: "";
      height: 21px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 21px;
      border: 1px solid #FFFFFF;
      box-shadow: 2px 0px 3px rgb(0 0 0 / 10%)
    }
  }
  
  input:checked + .slider {
    background-color: #D2FFE9;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #19CE74;
  }
  
  .slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

.row {
  select.form-control-lg {
    color: #5F6268!important;
    height: calc(2.875rem + 10px)!important;
    height: 56px;
    // border:1px solid red;
  }
}

.texto-form {
  color: $black-light;
  font-size: 12px;
}

.title-input {
   color: #003287;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}