/* Mixins
  =============== */

/// Container's maximum width

// $max-width: 1000px;
$max-width: 1180px;

@mixin contenedor() {
    max-width: $max-width;
    margin: 0 auto;
}

.contenedor {
    @include contenedor;
    padding: 0 20px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Sass map  Bootstrap */

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 2,
);


.mt-0 {
 margin-top: 0 !important;
}

.ml-1 {
 margin-left: ($spacer * .25) !important;
}
